<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
  <div>
    <label for="nickname">Nickname</label>
    <input type="text" th:field="*{nickname}" id="nickname"/>
    <br>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <label for="age">Age</label>
    <input type="number" th:field="*{age}" id="age"/>
    <br>
    <input type="submit" value="Update User">
  </div>
</form>
</body>
</html>