<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="${user.getId()}">ID</p>
<p th:text="${user.getNickname()}">NICKNAME</p>
<p th:text="${user.getName()}">NAME</p>
<p th:text="${user.getEmail()}">EMAIL</p>
<p th:text="${user.getAge()}">AGE</p>

<a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
<input type="submit" value="Delete User">
</form>
</body>
</html>